body {
    font-family: 'Open Sans', sans-serif;
    background-color: #92614d;
    margin: 0 center;
    
}

.section {
    margin-bottom: 20px;
    padding: 10px;
    background-color: #eebf95;
    border: 5px solid #2b2017;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.5);
    font-size: 14px;
    line-height: 1.5;
    width: fit-content;
    min-width: 500px;
    
}

.section h2 {
    text-decoration: underline;
}

.social-links {
    list-style: none;
    padding: 0;
    margin: 0;
}

.social-links li {
    display: inline-block;
    margin-right: 10px;
}

.social-links a {
    color: #337ab7;
    text-decoration: none;
}

.social-links a:hover {
    color: #23527c;
}

.icon {
    font-size: 24px;
    margin-right: 10px;
}
.foto {
    width: 150px;
    height: 150px;
    border-radius: 50%;
    object-fit: cover;
    margin-right: 20px;
    float: inline-start;
}
.centrado {
    display: flex;
    align-items: center;
}